 

<div class="app">
 <div class="card-deck">

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://us.123rf.com/450wm/lenm/lenm1802/lenm180200240/95966457-stock-illustration-illustration-of-a-kid-girl-outdoors-wearing-a-hearing-aid-in-her-ears.jpg?ver=6
">
   <h5 class="card-title">Deaf Kids Videos</h5>
   <a href="#" class="btn btn-primary">Watch Videos</a>
  #  https://www.maxpixel.net/static/photo/1x/Cartoon-Students-Box-Clipart-Kids-Cute-2798918.jpg
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://previews.123rf.com/images/lenm/lenm1211/lenm121100064/16174461-illustration-of-a-blind-boy-reading-a-book-written-in-braille.jpg">
   <h5 class="card-title">Blind Kids Videos</h5>
      <a href="#" class="btn btn-primary">Watch Videos</a>

</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://previews.123rf.com/images/estherqueen999/estherqueen9991802/estherqueen999180200039/94781917-cute-cartoon-boy-with-autism-awareness-concept.jpg" >
   <h5 class="card-title">Autism Kids Videos</h5>
      <a href="#" class="btn btn-primary">Watch Videos</a>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://pluspng.com/img-png/children-having-fun-at-school-png-cute-cartoon-funny-school-children-clip-art-images-kids-having-fun-at-school-png-400.png">
   <h5 class="card-title">Downsndrom Kids Videos</h5>
      <a href="#" class="btn btn-primary">Watch Videos</a>
</div>

</div>
</div>