 

<div class="app">
 <div class="card-deck">


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://www.maxpixel.net/static/photo/1x/Cartoon-Students-Box-Clipart-Kids-Cute-2798918.jpg">
   <h5 class="card-title">Deaf Kids Videos</h5>
   <a href="#" class="btn btn-primary">Watch Videos</a>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://freedesignfile.com/upload/2018/12/Cute-Child-and-Alphabet-4-vector-12865.jpg">
   <h5 class="card-title">Blind Kids Videos</h5>
      <a href="#" class="btn btn-primary">Watch Videos</a>

</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://requestreduce.org/images/free-clip-art-download-8.png" >
   <h5 class="card-title">Autism Kids Videos</h5>
      <a href="#" class="btn btn-primary">Watch Videos</a>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="http://pluspng.com/img-png/children-having-fun-at-school-png-cute-cartoon-funny-school-children-clip-art-images-kids-having-fun-at-school-png-400.png">
   <h5 class="card-title">Downsndrom Kids Videos</h5>
      <a href="#" class="btn btn-primary">Watch Videos</a>
</div>

</div>
</div>